<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Incident Retrieval</title>

  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/plugins/chartist/chartist.min.css" rel="stylesheet">
  <link href="./css/animate.css" rel="stylesheet">
  <link href="./css/loader.css" rel="stylesheet">
  <link href="./css/tabDisplay.css" rel="stylesheet">
  <link href="./css/genderfilter.css" rel="stylesheet">
  <link href="./css/datatip.css" rel="stylesheet">
  <link href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Mainly scripts -->
  <script src="./js/jquery-3.1.1.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="./js/plugins/metisMenu/jquery.metisMenu.js"></script>
  <script src="./js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

  <!-- Custom and plugin javascript -->
  <script src="./js/inspinia.js"></script>
  <script src="./js/plugins/pace/pace.min.js"></script>

  <!--slimscroll JavaScript -->
  <script src="./js/jquery.slimscroll.js"></script>
  <!-- Custom Theme JavaScript -->
  <script src="./js/custom.min.js"></script>

  <body>
  <div align="center" style="text-transform: uppercase;text-shadow: 2px 2px 2px #CCCCCC;color: blue;font-family: arial, sans-serif;font-size: 16px;font-weight: bold;margin-top: 0px;margin-bottom: 1px;">
      <h3>Incident Resolution and Recommendation System</h3>
  </div>

    <div class="response">

      <div id="logid" data-logid="" style="display: none;"></div><br>
      <%if (param.summary == "1") { %>
        <div align="center" id="summary_div">
          Summary Selection:
          <select id="summary" style="150px">
            <option value="Incident Summary">Incident Summary</option>
            <option value="Resolution Summary">Resolution Summary</option>
            </select>
        </div>
        <br>
        <br>
        <% } %>

          <%if (param.embedding == "1") { %>
            <div align="center" >
              Embedding : <input type="checkbox" id="myCheck" onclick="addembedding()" style="display: block;" />
            </div>
            <% } %>


              <div id="embedding_input"  align="center" style="display:none">
                <form style="display:inline;">
                  <label for="Type">Type:
                  <input type="text" id = "type" name="type" size="15" maxlength="30" style="display:block" />
                  </label>
                  <label for="Status">Status:
                  <input type="text" id = "status" name="status" size="15" maxlength="30" style="display:block" />
                  </label>
                  <label for="Delimiter">Delimiter:
                  <input type="text" id = "delimiter" name="delimiter" size="15" maxlength="30" style="display:block" />
                  </label>
                  <label for="Combine">Combine:
                  <input type="text" id = "combine" name="combine" size="15" maxlength="30" style="display:block" />
                  </label>
                  
                </form>
                <br>
                <div align="center">
                  <button type="submit" id="submitembedding" name="submitembedding" class="btn btn-primary">Submit</button>
                </div>
              </div>

                  <%if ( param.table == "1" ) { %>
                    <textarea class="form-control" rows="2" name="message" id="message" placeholder="Enter Incident Text" style="width:50%;display:block;margin-left:auto;margin-right:auto;"></textarea></br>
                    <div class="col-md-11 text-center" align = "center">
                      <button type="submit" id="submittext" name="submittext" class="btn btn-primary">Fetch</button>
                    </div>
    </div>
    <% } %>

      <br>
      <br>

      <%if (param.feedback == "1") { %>
        <div class="feedback">
          <p style="margin-left:25%;">Rating:
          <select id="rating" style="width:05%;">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select></p><br>
          <textarea type="text" rows="2" class="form-control" name="feedback_text" id="feedback_text" placeholder="Enter Feedback Text" style="width:50%;display:block;margin-left:auto;margin-right:auto;" /></textarea><br>
          <div class="col-md-11 text-center">
            <button type="submit" id="submitfeedback" name="submitfeedback" class="btn btn-primary">Submit Feedback</button>
          </div>
        </div>
        <% } %>

          <div id="resultsTableDiv">
            <table id="resultsTable" class="display" style="width:100%">
            </table>
          </div>
          <p id="embeddingdata"></p>

          <script type="text/javascript">
            var table = $('#resultsTable').DataTable({
              "aaSorting": [
                [2, "desc"]
              ],
              "data": [],
              "columns": JSON.parse(<%- col %>)
            });

            $('#resultsTableDiv').hide();
            $('#submittext').click(function() {
              var token = "test_irrs"
              var url = "http://172.16.4.51:32453/find_ticket"
              var messageText = $('#message').val();
              var post_data = {
                "token": token,
                "url": url,
                "text": messageText
              };
              if ($('#summary').length) { //hide the column corresponding to the summary filter
                table.column("Incident Summary:name").visible(true);
                table.column("Resolution Summary:name").visible(true);
                table.column("Enriched Resolution Summary:name").visible(true);
                var e = document.getElementById("summary");
                var summary = e.options[e.selectedIndex].value;
                post_data["summary_filter"] = summary;
                if (summary == "Incident Summary") {
                  var col_to_hide = ["Resolution Summary", "Enriched Resolution Summary"]
                } else {
                  var col_to_hide = ["Incident Summary"]
                }
              }

              messageText = messageText.trim();
              messageText_split = messageText.split(" ");
              if (messageText_split.length <= 1 && messageText.match('http')) {
                post_data["type"] = "url"
              } else {
                post_data["type"] = "text";
              }
              $.ajax({
                url: '/GetSimilarTickets' + window.location.search,
                type: "POST",
                data: post_data,
                beforeSend: function() {
                  $('#resultsTableDiv').hide();
                },
                success: function(res) {
                  if (!res) {
                    console.error('No response data');
                    table.draw();
                    $('#resultsTableDiv').show();
                    return;
                  }
                  console.log(res[2]);
                  // $("#summary").val("Incident Summary");
                  table.clear().draw();
                  table.rows.add(res[0]).draw();
                  if (typeof col_to_hide !== 'undefined') { //in case of presence of dropdown
                    for (const s of col_to_hide) {
                      table.column(s + ":name").visible(false);
                    }
                    // table.column(col_to_hide + ":name").visible(false);
                  }
                  $('#logid').data('logid', res[1]);
                  $('#resultsTable').show()
                  $('#resultsTableDiv').show();
                }
              });
            });


            $('#submitfeedback').click(function() {
              var token = $('#token').val();
              var e = document.getElementById("rating");
              var rating = e.options[e.selectedIndex].value;
              var feedbackText = $('#feedback_text').val();
              var messageText = $('#message').val();
              var logid = $('#logid').data('logid');
              if (feedbackText.trim() == '') {
                alert("Feedback cannot be empty");
                return;
              };
              if (logid.trim() == '') {
                alert('Please retrieve result before adding feedback');
                return;
              }

              messageText = messageText.trim();
              feedbackText = feedbackText.trim();
              $.ajax({
                url: '/addfeedback',
                type: "POST",
                data: {
                  "token": token,
                  "rating": rating,
                  "feedback": feedbackText,
                  "messagetext": messageText,
                  "logid": logid
                },
                success: function(res) {
                  if (res != "OK") {
                    console.error('Unable to add feedback');
                    alert('Unable to add feedback');
                    return;
                  $('textarea#feedback_text').val('');
                  $("#rating").val(1);
                }
                  alert('Feedback added successfully');
                }
              });
            });


            $('#submitembedding').click(function() {
              var type = $('#type').val();
              var status = $('#status').val();
              var delimiter = $('#delimiter').val();
              var combine = $('#combine').val();

              if(type.trim()=='' || status.trim() == ''){
                alert("Type and Status fields cannot be empty");
                return
              }
              // if(delimiter.trim()=='' || combined.trim() == ''){
              //   alert("Delimiter and Combined fields cannot be empty");
              //   return
              // }              
              $.ajax({
                url: '/getembedding',
                type: "POST",
                data: {
                  "url": "http://radar.feeltiptop.com/demos/abzooba/DSRRv2.4/getembeddings.php",
                  "type": type,
                  "status": status,
                  "delimiter" : delimiter,
                  "combine" : combine
                },
                success: function(res) {
                  if (res.statusCode !=200) {
                    console.error('Unable to retrieve results');
                    alert('Unable to add feedback');
                    return;
                  }
                  $('#embeddingdata').show()
                  $('#embeddingdata').text(String(res.body));
                }
              });
            })

            function addembedding() {
              var checkBox = document.getElementById("myCheck");
              if ($('#summary').length) { //hide the column corresponding to the summary filter
                if (checkBox.checked == true) {

                  $('#summary_div').hide()
                  $('#token').hide()
                  $('#url').hide()
                  $('#message').hide()
                  $('#resultsTable').hide()
                  $('#resultsTableDiv').hide()
                  $('#submittext').hide()
                  $('.feedback').hide()
                  $('#embeddingdata').text("");
                  $('#embeddingdata').show()
                  $('#embedding_input').show()

                } else {

                  $('#summary_div').show()
                  $('#token').show()
                  $('#url').show()
                  $('#message').show()
                  // $('#resultsTable').show()
                  // $('#resultsTableDiv').show()
                  $('.feedback').show()
                  $('#submittext').show()

                  $('#embeddingdata').text("");
                  $('#embeddingdata').hide()
                  $('#embedding_input').hide()

                }
              }
            }

          </script>
  </body>

</html>
